body {
  /* font-family: Arial, sans-serif; */
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333333;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 5px;
}

th,
td {
  padding: 5px;
  border: 1px solid #dddddd;
}

th {
  background-color: #f4f4f9;
  cursor: pointer;
}

th span {
  font-size: 10px;
  color: #aaa;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-section {
  display: flex;
  align-items: center;
}

.filter-section input {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
}

.summary-section {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  max-width: 800px;
  font-size: 18px;
  font-weight: bold;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

button {
  padding: 10px 15px;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  background-color: #cccccc;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}
