body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333333;
}

.filter-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-section label {
  margin-right: 10px;
}

.filter-section input[type='text'] {
  margin-right: 10px;
  padding: 5px;
}

.filter-section button {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.filter-section button:hover {
  background-color: #0056b3;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #dddddd;
}

th {
  background-color: #f4f4f9;
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
