body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  text-align: center;
  flex-grow: 1;
  margin: 0;
  color: #333333;
}

.summary-text {
  color: blue;
  font-size: 16px;
  margin-left: auto;
}

.filter-pagination-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.filter-section {
  display: flex;
  align-items: center;
}

.filter-section label {
  margin-right: 10px;
}

.filter-section input[type='text'] {
  margin-right: 20px;
  padding: 5px;
  font-size: 16px;
}

.pagination-section {
  display: flex;
  align-items: center;
}

.pagination-section button {
  margin-left: 10px;
}

#total-records {
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  border: 1px solid #dddddd;
}

th {
  background-color: #f4f4f9;
  cursor: pointer;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.small-icon {
  width: 40%;
}
.clickable {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
