body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
}

.title {
  text-align: center;
  flex-grow: 1;
  margin: 0;
}

.summary-text {
  color: blue;
  font-size: 16px;
  margin-left: auto;
}

.filter-pagination-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 10px;
}

.filter-section {
  display: flex;
  align-items: center;
}

.filter-section label {
  margin-right: 10px;
}

.filter-section input[type='text'] {
  margin-right: 20px;
  padding: 5px;
  font-size: 16px;
}

.pagination-section {
  display: flex;
  align-items: center;
}

.pagination-section button {
  margin-left: 10px;
}

#total-records {
  margin-right: 10px;
}

.table-container {
  max-height: calc(100vh - 120px); /* Adjust based on header height */
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  background: #f9f9f9;
  z-index: 10;
  padding: 10px;
  border: 1px solid #dddddd;
}

th {
  background-color: #f4f4f9;
  cursor: pointer;
}

tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}

.small-icon {
  width: 30%;
}
.clickable {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#createButton {
  background-color: #e9ebec;
  color: rgb(42, 54, 230);
}
#refetchButton {
  background-color: #e9ebec;
  color: rgb(42, 54, 230);
}
button:hover {
  opacity: 0.8;
}
