body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header-container {
  background: linear-gradient(to right, #7b1fa2, #4a148c);
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.title {
  margin: 0;
  flex-grow: 1;
  text-align: center;
}

.summary-text {
  color: #fff;
  font-size: 16px;
  margin-left: auto;
}

.filter-pagination-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
}

.filter-section {
  display: flex;
  align-items: center;
}

.filter-label {
  margin-right: 10px;
  font-size: 16px;
  /* font-weight: 700; */
  color: #333;
}

.filter-input {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 300px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.filter-input:focus {
  border-color: #7b1fa2;
  box-shadow: 0 0 5px rgba(123, 31, 162, 0.5);
  outline: none;
}

.pagination-section {
  display: flex;
  align-items: center;
}

.pagination-section button {
  margin-left: 10px;
}

#total-records {
  margin-right: 10px;
}

.table-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  background-color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  position: sticky;
  top: 0;
  background: #f4f4f9;
  z-index: 10;
  padding: 10px;
  border: 1px solid #dddddd;
  text-align: left;
}

th {
  background-color: #f4f4f9;
  cursor: pointer;
}

tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}

.small-icon {
  width: 30%;
}

.clickable {
  cursor: pointer;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

button {
  background-color: #7b1fa2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4a148c;
}

#createButton,
#refetchButton {
  background-color: #bd07eb;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
#createButton:hover,
#refetchButton:hover {
  background-color: #4a148c;
}
